---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import SectionHeading from "../components/SectionHeading.astro";
import { Icon } from 'astro-icon'
---

<Layout title="Mesto za Mene | Podrška pri neplaniranoj trudnoći">
  <Header />
  <Section>
    <Icon name="lucide:heart" size={32}/>
		<SectionHeading >
			Ko smo mi?
		</SectionHeading>
    Mesto za mene je besplatno savetovalište za žene koje se suočavaju sa
    neplaniranom i/ili kriznom trudnoćom i nastalo je po ugledu na centre koji
    postoje širom sveta (Pregnancy Help Centers).
  </Section>
</Layout>

<style is:global>
  body {
    background-color: #fff;
  }

</style>
