---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
---

<Layout title="Mesto za mene | Trudnoća">
  <BlogPost author="Vesna Radeka" title="Da li sam trudna?">
    <p>
      Ako se pitaš da li si u drugom stanju verovatno ti se mnogo toga trenutno
      vrzma po glavi. Možda si srećna, uzbuđena, uplašena, ljuta ili osećaš neku
      čudnu mešavinu svih ovih emocija. To je potpuno normalno jer shvatanje
      toga da postoji mogućnost da će ceo tvoj život da se promeni može da bude
      zastrašujuće!
    </p>
    <p>
      Prvi korak je da saznaš da li si zaista u drugom stanju. Ženi može da
      izostane menstruacija iz mnogobrojnih razloga. Promena u ishrani, naporni
      treninzi, ili nivo stresa, sve ovo može da izazove to da menstruacija
      kasni. Ponekad ženama kasni menstruacija, a da nikad ni ne otkriju koji su
      bili razlozi za to. Prvi korak jeste da uradiš test za trudnoću. Test
      možeš kupiti u skoro svakoj apoteci, a možeš ga uraditi i besplatno u
      našem savetovalištu Mesto za mene.
    </p>
    <p>
      Ako se pitaš da li je previše rano da uradiš test, dobro bi bilo da
      zapamtiš da bi test trebalo da bude tačan prvog dana nakon što je izostala
      menstruacija. Ako je tvoja menstruacija neredovna, i/ili ne znaš kad da je
      očekuješ, ako uradiš test 17 dana nakon seksualnog odnosa tada bi test
      trebalo da bude tačan.
    </p>
    <p>
      Jednu stvar koju treba imati na umu jeste da test samo ukazuje na
      trudnoću. Biće potrebno da kod lekara uradiš ultrazvučni pregled da bi
      trudnoća bila potvrđena. Ultrazvučni pregled takođe može da utvrdi da li
      je trudnoća vijabilna (vijabilna je ona trudnoća koja podrazumeva dalji
      razvoj pod normalnim uslovima) i da odredi kolika je trudnoća u pitanju.
    </p>
    <p>
      Ultrazvučni pregled je takođe jedini način da se otkrije da li je u
      pitanju vanmaterična trudnoća, što može biti životno opasno i za majku i
      za njeno dete. (Vanmaterična trudnoća je stanje u kojem se embrion
      implantira izvan materične duplje, najčešće u jajovodu.)
    </p>
    <p>
      Ako želiš da uradiš besplatan test za trudnoću u našem centru Mesto za
      mene - prethodno nas pozovi telefonom na 064/266 02 01.Nakon urađenog
      testa, naš savetnik će rado razgovarati sa tobom o rezultatu testa kao i o
      opcijama koje su ti na raspolaganju u slučaju da je test pozitivan.
    </p>
  </BlogPost>
</Layout>

<style>
  .content-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .img-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 720px;
      height: 360px;
      border-radius: 25px;
    }
  }

  h1 {
    margin-top: 15px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.65;
  }
</style>
