---
import { Image, getImage } from "astro:assets";
// Components
import HeroText from "./HeroText.astro";
import Button from "./Button.astro";
import backgroundImg from "../assets/main-img.jpg";
// Variables
const optimizedBackgroundImage = await getImage({
  src: backgroundImg,
  format: "avif",
  quality: "mid",
});

const {primaryColor} = Astro.props
---

<header style={`background-image: url(${optimizedBackgroundImage.src})`}>
  <div class="content-container">
    <nav>
      <div class="logo">
        <a href="/">
          <picture>
            <source srcset="../../logo-color.svg" media="(min-width: 768px)" />
            <img src="../../logo-color.svg" alt="Logo" />
          </picture>
        </a>
      </div>

      <ul class="menu-list">
        <li><a href="/">Početna</a></li>
        <li><a href="#">Trudnoća</a></li>
        <!-- <li><a href="#">Moje Opcije</a></li>
      <li><a href="#">Nakon Abortusa</a></li> -->
        <li><a href="#">Gnezdo za Mame</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>

    <HeroText primaryColor={primaryColor} />
    <Button primaryColor={primaryColor} type={"primary"}>
      Pozovi nas
    </Button>
  </div>
</header>

<style define:vars={{ primaryColor }}>
  a {
    text-decoration: none;
    color: #fff;
  }

  li {
    list-style: none;
  }

  .content-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    z-index: 20;
    margin-top: 15px;

    li {
      a {
        transition: 0.2s;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }

  /* logo */
  picture {
    height: 50px;
    width: 160px;
  }

  header {
    width: 100%;
    height: 720px;
    background-size: cover;
    background-position: center;
    padding: 15px;
    position: relative;

    .logo {
      z-index: 20;
    }
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: 10;
    background-color: rgba(15, 23, 42, 0.45);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-list {
    display: flex;
    gap: 3rem;
  }
</style>
