---
// imports
import { Image } from "astro:assets";
// variables
const mainColor = "#F38181";
const backgroundImageUrl = `https://source.unsplash.com/random/?worried,girl`;
---


<header style={`background-image: url(${backgroundImageUrl})`}>
  <nav>
    <div class="logo">
      <picture>
        <source srcset="../../public/logo-color.svg" media="(min-width: 768px)">
        <img src="../../public/logo-color.svg" alt="logo">
      </picture>
    </div>

    <ul class="menu-list">
      <li><a href="/">Početna</a></li>
      <li><a href="">Trudnoća</a></li>
      <li><a href="">Moje Opcije</a></li>
      <li><a href="">Nakon Abortusa</a></li>
      <li><a href="">Gnezdo za Mame</a></li>
      <li><a href="">Kontakt</a></li>
    </ul>
  </nav>
</header>




<style define:vars={{mainColor, backgroundImageUrl}}>
  a {
    text-decoration: none;
    color: #fff
  }

  li {
    list-style: none;
  }

  picture {
    height: 120px;
    width: 300px;
  }

  header {
  
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-list {
    display: flex;
    gap: 1.2rem;
  }
  
</style>




