---

---

<div class="hero">
  <h1>Neplanirana trudnoća?</h1>
  <h1>Potrebna ti je podrška?</h1>
  <h1>Na pravom si mestu.</h1>
</div>

<style>

  .hero {
    position: relative;
    z-index: 20;
    margin-top: 4rem;
    h1 {
      color: #fff;
      
    }
  }
</style>