---
const { isWhite, isBanner } = Astro.props;
const primaryColor = "#F38181";
---

{
  isBanner && (
    <div class="top-banner">
      <p>
        Pozovi nas: <a href="tel:+381642660201">+381 64 266 0201</a> |{" "}
        <a href="#">Apliciraj za smeštaj</a>
      </p>
    </div>
  )
}
<div class="site-container">
  <nav>
    <div class:list={["logo", { "logo-white": isWhite }]}>
      <a href="/">
        <picture>
          <source srcset="../../logo-color.svg" media="(min-width: 768px)" />
          <img src="../../logo-color.svg" alt="Logo" />
        </picture>
      </a>
    </div>

    <ul class:list={["menu-list", { "menu-list-white": isWhite }]}>
      <li><a href="/">Početna</a></li>
      <li><a href="/trudnoca">Trudnoća</a></li>
      <!-- <li><a href="#">Moje Opcije</a></li>
    <li><a href="#">Nakon Abortusa</a></li> -->
      <li><a href="#">Gnezdo za Mame</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </nav>
</div>

<style define:vars={{ primaryColor }}>
  .site-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  li {
    list-style: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .menu-list {
    display: flex;
    gap: 3rem;
  }

  .menu-list-white {
    li {
      margin-top: 10px;
    }
    a {
      color: var(--primaryColor);
    }
  }

  ul {
    z-index: 20;
    margin-top: 15px;

    li {
      a {
        transition: 0.2s;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }

  .logo {
    z-index: 20;
  }

  /* logo */
  picture {
    height: 50px;
    width: 160px;
  }

  .logo-white {
    picture {
      height: 40px;
      width: 130px;
    }
  }

  .top-banner {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-size: 0.9rem;
    background-color: var(--primaryColor);
    a {
    }
  }
</style>
